API_APP_MONGODB_URI="ADD YOUR MONGODB CONNECTION URI"
API_APP_NODE_ENV="development"
API_APP_CLIENT_SIDE_URL="http://localhost:3000"
API_APP_UK_VEHICLE_API_KEY="API-KEY"
API_APP_UK_VEHICLE_API_URL="API-URL"
API_APP_EMAIL_HOST="smtp.ethereal.email"
API_APP_EMAIL_PORT=587
API_APP_EMAIL_USER="shanelle49@ethereal.email"
API_APP_EMAIL_PASSWORD="ua9xatYvtAX5D7efvn"
API_APP_EMAIL_OTP_EXPIRE_TIME=600
APPLICATIONINSIGHTS_CONNECTION_STRING="APPLICATIONINSIGHTS_CONNECTION_STRING"
API_APP_ONEDRIVE_CLIENT_ID= "API_APP_ONEDRIVE_CLIENT_ID";
API_APP_ONEDRIVE_CLIENT_SECRET="API_APP_ONEDRIVE_CLIENT_SECRET";
API_APP_ONEDRIVE_TENANT_ID="API_APP_ONEDRIVE_TENANT_ID";
API_APP_ONEDRIVE_SCOPE="API_APP_ONEDRIVE_SCOPE";